.gitignore
__pycache__
*egg-info*
_version.py
.flake8
.hypothesis/
build/
docs/_build/
tests/integration/_plots/
benchmarks/_*.png
result_images/
.ipynb_checkpoints
*.pyc
notebooks/ASE/fe-bcc-phonon/
notebooks/ASE/fe-fcc-phonon/
notebooks/ASE/cuag-*-phonon/
